# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyCharm
.idea

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
*.egg

# Unit test / coverage reports
.tox/
.coverage
.coverage.*
.cache
coverage.xml
.pytest_cache/
TMP_FOLDER/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/

# Excel
*.xlsx

# Logging
*.log

# Results
examples/CIGRE_GridExample/*.csv
